<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrigado!</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="../styles/forms.css">
    <link rel="stylesheet" href="../styles/mediaQForms.css">
</head>
<body>
    <div class="containerGeral">
        <div id="header2">
            <img src="./Imagens/header.webp" alt="Biopark">
            <p id="titulo2">Controle de Estoque - Log Book</p>
        </div>
        <div class="aviso2">
            <div class="sup"></div>
            <div class="infEnvio">
                <p class="avisoTexto3">Obrigado!</p>
                <p class="avisoTexto4">Sua resposta foi registrada com sucesso!</p>
                <p class="avisoTexto5"><a href="http://10.200.71.84/">Outro material foi utilizado? Clique aqui.</a></p>
            </div>
        </div>
    </div>
</body>
</html>