<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login Controle de Estoque - Biopark">
    <title>Login</title>
    <link rel="stylesheet" href="/PaginaADM/Estilos/EstiloAdmCompactado.css">
    <link rel="stylesheet" href="/PaginaADM/Estilos/mediaQAdm.css">
</head>
<body>
    <div class="containerLog">
        <div class="quadradoLog">
            <img src="/Imagens/header.webp" class="LogoLog" alt="Biopark Educação">
            <p class="textoLog"> Faça seu Login utilizando os campos abaixo </p>
            <form action="/Login" method="post">
                <div class="inputUser">
                    <img src="/Imagens/user.webp" class="imgUser" alt="Usuário">
                    <input type="text" id="username" name="username" required placeholder="Digite seu Usuário..." autocomplete="off">
                </div>
                <br>
                <div class="inputPass">
                    <img src="/Imagens//padlock.webp" class="imgSenha" alt="Senha">
                    <input type="password" name="password" id="password" required placeholder="Digite sua Senha...">
                </div>
                <br>
                <button type="submit" class="Login">Entrar</button>
            </form>
            <% if (error) { %>
            <div class="error">
                <p class="erro"><%= error %></p>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>