:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --azul: #283444;
    --vermelho: #FF1C4C;
}

html, body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--azul);
}

.header{
    text-align: center;
}

.bpk{
    height: 150px;
    flex-shrink: 0;
}

.containerGeral {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro, .topo{
    width: 430px;
    height: 780px;
    flex-shrink: 0;
    background: var(--branco);
    position: relative;
    text-align: center;
}

.topo{
    height: 50px;
    background: var(--vermelho);
}

.textoF{
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}

#pesquisar{
    border: 1px solid var(--preto);
    width: 355px;
    height: 38px;
    font-size: 24px;
    margin-top: 5%;
}

#pesquisar:focus{
    outline: none;
}

#tipoFiltro{
    padding: 5px;
    font-size: 20px;
    margin-top: 5%;
}

.btnF {
    height: 25px;
    width: 100%;
    margin-bottom: 35%;
}

#botaoFiltrar {
    width: 90px;
    height: 25px;
    margin-top: 3%;
}

#removeFiltro {
    width: 110px;
    height: 25px;
}

.respostas{
    width: 1010px;
    height: 780px;
    background: var(--branco);
    margin-left: 1%;
    overflow: auto;
}

.tabela {
    height: 700px;
    overflow-y: auto;
}

.thResp{
    font-size: 25px;
    padding: 20px;
    border: 1px solid;
}

hr{
    border: 1px solid;
}

.linha{
    width: 100%;
    border: 1px solid;
    position: absolute;
    margin-top: -25%;
}

.respostasEnv {
    width: 98%;
    margin: 1%;
    border-collapse: collapse;
    overflow-x: auto;
}

.respMongo {
    font-size: 16px;
    border: 1px solid;
}

#thCodR {
    padding: 0;
}

#thId {
    padding: 0;
}

.containerBtns {
    display: flex;
    justify-content: flex-end;
}

#btnProximo, #btnAnterior {
    padding: 5px 5px;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}

#btnProximo {
    margin-right: 1%;
}

#btnAnterior {
    margin-right: 1%;
}

.googlesheet {
    display: flex;
    justify-content: flex-end;
}

#baixar {
    width: 240px;
    height: 30px;
    border-radius: 10px;
    background-color:lightgrey;
    margin-right: 2%;
    margin-top: 1%;
}

#baixar:hover {
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.respfiltradas {
    display: flex;
    width: 100%;
    height: 58%;
    margin-top: -22%;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.novaResposta {
    border: solid 1px var(--vermelho);
    background-color: var(--azul);
    border-left: solid 4px var(--vermelho);
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
}

.nomeFiltro {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
}

.containerTextos {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    margin-left: 5%;
}

.deletar, .editar, .comentar {
    width: 45px;
    height: 45px;
    margin-left: 4%;
    margin-top: 2%;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

#confirmar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--azul);
    color: white;
    padding: 10px;
    border: 1px solid black;
    z-index: 10;
}

#btnReag {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color:lightgrey;
    border: 2px solid black;
    margin-right: 2%;
    margin-top: 1%;
}

#btnReag:hover {
    cursor: pointer;
    border: none;
}

#divEdit {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: var(--azul); */
    /* background-image: linear-gradient(to right top, #283444, #283647, #29384b, #29394e, #2a3b52, #2a3d56, #293e5a, #29405e, #274163, #254269, #23436e, #214473); */
    
    background-color: white;
    padding: 15px;
    z-index: 10;
    /* color: white; */
}

.att {
    width: 50%;
}

#divComment {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    z-index: 10;
}

.addExEdReag {
    width: 100%;
    display: flex;
}

.addReag {
    width: 33.33%;
}

.edReag {
    width: 33.33%;
}

.exReag {
    width: 33.33%;
}

#divReag {
    display: none;
    position: fixed;
    width: 50%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 10;
}

.inputContainer{
    width: 100%;
    display: flex;
    align-items: center;
}

#dropdown-icon {
    height: 20px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    margin-left: 2%;
}
  
.borda {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisarReag {
    width: 93%;
    height: 30px;
    color: var(--preto);
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: ellipsis;
    border: none;
    user-select: none;
}

#pesquisarReag:focus{
    outline: none;
}

#dropdown {
    display:none;
    border: 1px solid var(--preto);
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
    list-style: none;
    z-index: 10;
    user-select: none;
    margin-top: 0%
}
  
#dropdown li {
    color: var(--preto);
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--preto);
    background-color: var(--branco);
}

/* Pagina para o Login */
.containerLog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.quadradoLog {
    box-sizing: border-box;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 50%;
    height: 90vh;
    background-color: white;
    border-radius: 20px;
}

.LogoLog {
    width: 500px;
    height: 180px;
    margin-left: 18%;
}

.txtLog {
    width: 90%;
    font-size: 34px;
    font-weight: bold;
    margin-left: 9%;
    margin-bottom: 4%;
    margin-top: 4%;
}

.imgUser, .imgSenha {
    height: 45px;
    width: 45px;
    margin-top: 1%;
    margin-bottom: -1%;
    margin-left: 1%;
    user-select: none;
}

.inputUser, .inputPass {
    width: 60%;
    border: 2px solid black;
    margin-left: 20%;
    border-radius: 10px;
}

#username, #password {
    height: 100%;
    width: 85%;
    font-size: 28px;
    border: none;
}

.inputPass {
    margin-top: 1%;
}

#username:focus, #password {
    outline: none;
}

.Login {
    width: 60%;
    height: 50px;
    background-color: #65F473;
    border-radius: 20px;
    font-size: 30px;
    margin-left: 20%;
    margin-top: 3%;
    font-weight: 500;
    border: 2px solid black;
}

.Login:hover{
    cursor: pointer;
    background-color: #7BFF88;
}