@media only screen and (min-width: 320px) and (max-width: 871px) {

    /* Pagina de login */
    .quadradoLog {
        width: 90%;
        height: 60%;
        margin-top: -25%;
    }

    .LogoLog {
        width: 80%;
        height: 25%;
    }

    .textoLog {
        font-size: 18px;
    }

    .imgUser, .imgSenha {
        height: 8%;
        width: 8%;
    }

    #username, #password {
        font-size: 15px;
    }

    .erro {
        font-size: 22px;
    }

    .Login {
        width: 60%;
        height: 30px;
        font-size: 18px;
    }

}

@media only screen and (min-width: 1440px) and (max-width: 1500px) {

    .textoLog {
        font-size: 38px;
    }

    .inputUser, .inputPass {
        width: 100%;
        margin-left: 0;
    }

    #username, #password {
        font-size: 32px;
    }
}